{
  "singleQuote": true,
  "printWidth": 100,
  "useTabs": true,
  "overrides": [
    {
      "files": ["*.json", ".prettierrc", ".eslintrc", ".babelrc", "*.md"],
      "options": {
        "useTabs": false,
        "tabWidth": 2
      }
    }
  ]
}
